@media only screen and (max-width: 840px) {
  nav {
    display: none;
  }
  #bar {
    display: block;
  }
}
@media only screen and (max-width: 623px) {
  .txt {
    font-size: 70px;
  }
}
@media only screen and (max-width: 552px) {
  .txt {
    font-size: 60px;
  }
}
@media only screen and (max-width: 474px) {
  .txt {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1024px) {
  .parentdiv {
    flex-wrap: wrap;
    width: 250px;
    height: 180px;
  }
}
@media only screen and (max-width: 840px) {
  .parentdiv {
    flex-wrap: wrap;
    width: 230px;
    height: 170px;
  }
}
@media only screen and (max-width: 600px) {
  .parentdiv {
    flex-wrap: wrap;
    width: 200px;
    height: 150px;
  }
}
